#depthchartdivtest1 {
    width: 100%;
    height: 520px;
}

#depthchartdivtest2 {
    width: 100%;
    height: 520px;
}

#depthchartdivtest3 {
    width: 100%;
    height: 520px;
}

#depthchartdivtest4 {
    width: 100%;
    height: 520px;
}