<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<link href="css/depth.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="js/graph/depth/depth-bitfinex-btc-usd.js"></script>
<script type="text/javascript" src="js/graph/depth/depth-bitfinex-btc-gbp.js"></script>
<script type="text/javascript" src="js/graph/depth/depth-gdax-btc-gbp.js"></script>
<script type="text/javascript" src="js/graph/depth/depth-gdax-btc-usd.js"></script>

<div id="depthchartdivtest1"></div>
<div id="depthchartdivtest2"></div>
<div id="depthchartdivtest3"></div>
<div id="depthchartdivtest4"></div>
