<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ASS LAB2</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/slit-slider.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="css/responsive.css">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")></script>
    <script src="https://www.gstatic.com/charts/loader.js")></script>
    <script type="text/javascript" src="Ajax.js"></script>
    <script type="text/javascript" src="BarChart.js"></script>
    <script type="text/javascript" src="PieChart.js"></script>
    <script type="text/javascript" src="individual.js"></script>
    <script type="text/javascript" src="echarts.js"></script>

    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"></script>


</head>
<div class="container">
    <div class="row wow fadeInDown">
        <div class="col-lg-12">

            <div class="title text-center">
                <h2>ASS LAB TWO<span class="color"> DISPLAY</span></h2>
                <div class="border"></div>
            </div>

            <div class="portfolio-filter clearfix">
                <ul class="text-center">
                    <li><a class="filter" data-filter="all"><nobr id="mostnumtitle">The article  </nobr> is the most number of reversion as <nobr id="mostnumtitlevalue"></nobr> times </a><br/></li>
                    <li><a class="filter" data-filter="all"><nobr id="leastnumtitle">The article  </nobr> is the least number of reversion as <nobr id="leastnumtitlevalue"></nobr> times</a><br/></li>
                    <li><a class="filter" data-filter="all"><nobr id="mostnumuser">The article  </nobr> is the most number of user as <nobr id="mostnumuservalue"></nobr> people</a><br/></li>
                    <li><a class="filter" data-filter="all"><nobr id="leastnumuser">The article  </nobr> is the least number of user as <nobr id="leastnumuservalue"></nobr> people</a><br/></li>
                    <li><a class="filter" data-filter="all"><nobr id="longesthistory">The article  </nobr> is the longest history from creation as <nobr id="longesthistorytime"></nobr></a><br/></li>
                    <li><a class="filter" data-filter="all"><nobr id="shortesthistory">The article  </nobr> is the shortest history from creation as <nobr id="shortesthistorytime"></nobr></a><br/></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<button value="pie" id='pie'> Pie Chart</button>
<button value="bar" id='bar'> Bar Chart</button>
<div id="myChart"></div>

<select id="selecttitle"></select>
<div id ="titletxt"></div>
<p id ="revisionnum"></p>
<div id="piechartdataanon"></div>
<div id="piechartdataadmin"></div>
<div id="piechartdatabot"></div>
<div id="piechartdatauser"></div>

<div id="barchartdataanon"></div>
<div id="barchartdataanon2"></div>
<script>
$.ajax({
    type: 'get',
    url: "http://localhost:8080/main/SearchTitle",
    async : false,
    dataType: "json",
    error:function(){},
    success:function(data){
        $.each(data,function(index,item){
            var id = data[index].title;
                $('#selecttitle').append("<option value= '"+id+"'>"+id+"</option>")
        })
    }
})

$("#selecttitle").change(function(){
    var item = $("#selecttitle").val();
    $("#titletxt").html("Description "+item);
})


google.charts.load('current', {packages: ['corechart']});

var options = {'title':"Composition of Earth's atmosphere  ",
    'width':400,
    'height':300};
var data

function drawPie(){
    graphData = new google.visualization.DataTable();
    graphData.addColumn('string', 'Element');
    graphData.addColumn('number', 'Percentage');
    $.each(data, function(key, val) {
        graphData.addRow([key, val]);
    })
    var chart = new google.visualization.PieChart($("#myChart")[0]);
    chart.draw(graphData, options);
}

function drawBar(){
    graphData = new google.visualization.DataTable();
    graphData.addColumn('string', 'Element');
    graphData.addColumn('number', 'Percentage');
    $.each(data, function(key, val) {
        graphData.addRow([key, val]);
    })
    var chart = new google.visualization.ColumnChart(document.getElementById("myChart"));
    chart.draw(graphData, options);

}


    $.getJSON('/data/piechartdataanon',null, function(rdata) {
            data = rdata
        }
    );

    $("#pie").click(function(event){
        event.preventDefault();
        drawPie()
    })
    $("#bar").click(function(event){
        event.preventDefault();
        drawBar()
    })

        $("#piechartdataanon").append(data.Number);










</script>





</body>
</html>