<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>NEW EXAMPLE</title>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")></script>
    <script src="https://www.gstatic.com/charts/loader.js")></script>
    <script type="text/javascript" src="Candel_Stick.js"></script>
    <script type="text/javascript" src="login.js"></script>
    <script type="text/javascript" src="Ajax.js"></script>

    <script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"></script>


</head>
<div class="container">
    <div class="row wow fadeInDown">
        <div class="col-lg-12">

            <div class="title text-center">
            </div>

            <nobr id="ProductByDay"></nobr>

            <br>
            <nobr id="historyRate"></nobr>

                hello world.
            <div class="portfolio-filter clearfix">
            </div>
        </div>
    </div>
</div>

</body>
</html>