/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 4.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


.firstLineTitle {
    font-size: large;
    font-weight: bold;
}

.firstLinePrice {
    font-size: large;
    display: inline;
}

.firstLineVolumeTitle {
    font-size: small;
    margin-bottom: 0px;
}

.firstLineVolume {
    font-size: small;
    display: inline;
}

.firstLineChangeRate {
    font-size: smaller;
    font-style: oblique;
}

#coins-container {
    margin: 50px;
    width:auto;
    height:auto;
    overflow:auto;
    overflow-x:hidden;
}

#thirdLine {
    height: 580px;
}

.candlecharts {
    width: 100%;
    height: 500px;
}

.depthcharts {
    width: 100%;
    height: 520px;
}

#depthchartdivtest {
    width: 100%;
    height: 520px;
}

#coins-container {
    clear: left;
}

#footerContainer {
    width: 100%;
    display: block;
}

header a:link {
    color: #ffffff;
    text-decoration:none;
}

/* 已访问链接 */
header a:hover {
    color: #fff3e0;
    text-decoration:none;
}

/* 鼠标移动到链接上 */
header a:active {
    color: #f2fbff;
    text-decoration:none;
}

/* 未访问链接*/
header a:visited {
    color: #ffffff;
    text-decoration:none;
}

#modal01content{
    width:100%;
    height:500px;
}
#modal02content{
    width:100%;
    height:500px;
}
#modal03content{
    width:100%;
    height:500px;
}
